<!-- in dynamic-form.component.html -->
<ng-container *ngFor="let elem of formElements">
    <label *ngIf="elem.type!=='checkbox' && elem.type!=='radio' && elem.type!=='submit'">
        {{elem.label}}
    </label>

    <!-- generic HTML5 inputs -->
    <input
            *ngIf="['text','email','password','date','number','url','tel','color','range'].includes(elem.type)"
            [attr.type]="elem.type"
            [formControlName]="key(elem)"
            [placeholder]="elem.placeholder"
            [required]="elem.required"
            [attr.minlength]="elem.minLength"
            [attr.min]="elem.min"
            [attr.max]="elem.max"
            [attr.accept]="elem.accept?.join(',')"
    />

    <!-- textarea -->
    <textarea
            *ngIf="elem.type==='textarea'"
            [formControlName]="key(elem)"
            [placeholder]="elem.placeholder"
            [rows]="elem.rows">
  </textarea>

    <!-- select -->
    <select
            *ngIf="elem.type==='select'"
            [formControlName]="key(elem)"
            [required]="elem.required">
        <option *ngFor="let opt of elem.options" [value]="opt">{{opt}}</option>
    </select>

    <!-- checkbox -->
    <label *ngIf="elem.type==='checkbox'">
        <input
                type="checkbox"
                [formControlName]="key(elem)"
        /> {{elem.label}}
    </label>

    <!-- radio -->
    <div *ngIf="elem.type==='radio'" [formControlName]="key(elem)">
        <label *ngFor="let opt of elem.options">
            <input type="radio" [value]="opt"/> {{opt}}
        </label>
    </div>

    <!-- submit button -->
    <button
            *ngIf="elem.type==='submit'"
            type="submit"
            [ngClass]="elem.style">
        {{elem.label}}
    </button>
</ng-container>