<form [formGroup]="dynamicForm">
    <ng-container *ngFor="let element of formElements">

        <div *ngIf="element.type !== 'submit'" class="form-group">

            <label>{{element.label}}</label>

            <input *ngIf="element.type === 'text' || element.type === 'email' || element.type === 'password' || element.type === 'date' || element.type === 'number'"
                   [attr.max]="element.max"
                   [attr.minLength]="element.minLength"
                   [attr.min]="element.min"
                   [formControlName]="element.label"
                   [placeholder]="element.placeholder"
                   [type]="element.type">

            <select *ngIf="element.type === 'select'" [formControlName]="element.label">
                <option *ngFor="let option of element.options" [value]="option">{{option}}</option>
            </select>

            <div *ngIf="element.type === 'checkbox'">
                <input [formControlName]="element.label" type="checkbox"> {{element.label}}
            </div>

            <div *ngIf="element.type === 'radio'">
                <label *ngFor="let option of element.options">
                    <input [formControlName]="element.label" [value]="option" type="radio"> {{option}}
                </label>
            </div>

            <textarea *ngIf="element.type === 'textarea'"
                      [formControlName]="element.label"
                      [placeholder]="element.placeholder"
                      [rows]="element.rows"></textarea>

            <input *ngIf="element.type === 'file'" [attr.accept]="element.accept.join(',')" type="file">

        </div>

        <button *ngIf="element.type === 'submit'" [type]="element.type">{{element.label}}</button>

    </ng-container>
</form>



