<form [formGroup]="dynamicForm">
    <ng-container *ngFor="let element of formElements">

        <div *ngIf="element.type !== 'submit'" class="form-group">

            <label>{{element.label}}</label>

            <input *ngIf="element.type === 'text' || element.type === 'email' || element.type === 'password' || element.type === 'date' || element.type === 'number'"
                   [type]="element.type"
                   [placeholder]="element.placeholder"
                   [attr.minLength]="element.minLength"
                   [attr.min]="element.min"
                   [attr.max]="element.max"
                   [formControlName]="element.label">

            <select *ngIf="element.type === 'select'" [formControlName]="element.label">
                <option *ngFor="let option of element.options" [value]="option">{{option}}</option>
            </select>

            <div *ngIf="element.type === 'checkbox'">
                <input type="checkbox" [formControlName]="element.label"> {{element.label}}
            </div>

            <div *ngIf="element.type === 'radio'">
                <label *ngFor="let option of element.options">
                    <input type="radio" [value]="option" [formControlName]="element.label"> {{option}}
                </label>
            </div>

            <textarea *ngIf="element.type === 'textarea'"
                      [placeholder]="element.placeholder"
                      [rows]="element.rows"
                      [formControlName]="element.label"></textarea>

            <input *ngIf="element.type === 'file'" type="file" [attr.accept]="element.accept.join(',')">

        </div>

        <button *ngIf="element.type === 'submit'" [type]="element.type">{{element.label}}</button>

    </ng-container>
</form>



