<!-- dynamic-form.component.html -->
<form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div *ngFor="let elem of formElements">
        <!-- derive controlName from label -->
        <ng-container [ngSwitch]="elem.type">

            <!-- text/email/password/date/number/file -->
            <ng-container *ngSwitchCase="'text'">
                <label>{{elem.label}}</label>
                <input
                        [formControlName]="elem.label.replace(/\s+/g,'').toLowerCase()"
                        [placeholder]="elem.placeholder"
                        [required]="elem.required"
                        type="text"
                />
            </ng-container>

            <ng-container *ngSwitchCase="'email'">
                <label>{{elem.label}}</label>
                <input
                        [formControlName]="elem.label.replace(/\s+/g,'').toLowerCase()"
                        [placeholder]="elem.placeholder"
                        [required]="elem.required"
                        type="email"
                />
            </ng-container>

            <ng-container *ngSwitchCase="'password'">
                <label>{{elem.label}}</label>
                <input
                        [attr.minlength]="elem.minLength"
                        [formControlName]="elem.label.replace(/\s+/g,'').toLowerCase()"
                        [placeholder]="elem.placeholder"
                        [required]="elem.required"
                        type="password"
                />
            </ng-container>

            <ng-container *ngSwitchCase="'date'">
                <label>{{elem.label}}</label>
                <input
                        [formControlName]="elem.label.replace(/\s+/g,'').toLowerCase()"
                        [required]="elem.required"
                        type="date"
                />
            </ng-container>

            <ng-container *ngSwitchCase="'number'">
                <label>{{elem.label}}</label>
                <input
                        [formControlName]="elem.label.replace(/\s+/g,'').toLowerCase()"
                        [max]="elem.max"
                        [min]="elem.min"
                        [required]="elem.required"
                        type="number"
                />
            </ng-container>

            <ng-container *ngSwitchCase="'file'">
                <label>{{elem.label}}</label>
                <input
                        [attr.accept]="elem.accept?.join(',')"
                        [formControlName]="elem.label.replace(/\s+/g,'').toLowerCase()"
                        type="file"
                />
            </ng-container>

            <!-- select -->
            <ng-container *ngSwitchCase="'select'">
                <label>{{elem.label}}</label>
                <select [formControlName]="elem.label.replace(/\s+/g,'').toLowerCase()" [required]="elem.required">
                    <option *ngFor="let opt of elem.options" [value]="opt">{{opt}}</option>
                </select>
            </ng-container>

            <!-- checkbox -->
            <ng-container *ngSwitchCase="'checkbox'">
                <label>
                    <input
                            [formControlName]="elem.label.replace(/\s+/g,'').toLowerCase()"
                            type="checkbox"
                    /> {{elem.label}}
                </label>
            </ng-container>

            <!-- radio -->
            <ng-container *ngSwitchCase="'radio'">
                <label>{{elem.label}}</label>
                <div *ngFor="let opt of elem.options">
                    <label>
                        <input
                                [formControlName]="elem.label.replace(/\s+/g,'').toLowerCase()"
                                [value]="opt"
                                type="radio"
                        /> {{opt}}
                    </label>
                </div>
            </ng-container>

            <!-- textarea -->
            <ng-container *ngSwitchCase="'textarea'">
                <label>{{elem.label}}</label>
                <textarea
                        [formControlName]="elem.label.replace(/\s+/g,'').toLowerCase()"
                        [placeholder]="elem.placeholder"
                        [rows]="elem.rows"
                ></textarea>
            </ng-container>

            <!-- submit -->
            <ng-container *ngSwitchCase="'submit'">
                <button
                        [ngClass]="elem.style"
                        type="submit"
                >
                    {{elem.label}}
                </button>
            </ng-container>

        </ng-container>
    </div>
</form>